{% extends "mailing/base.html" %}
{% block content %}
<div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Дата начала: {{object.start_time}}</li>
                        <li>Дата окончания: {{object.end_time}}</li>
                        <li>Статус: {{object.status}}</li>
                        <li>Получатели: {{object.recipients}}</li>
                        <li>Сообщение: {{object.message | truncatechars:100}}</li>
                    </ul>
                    <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'mailing:mailing_list' %}" role='button'>Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}